.container {
  padding: .9rem;
  padding-left: 28px;
  color: rgb(0, 177, 236);
  font-family: "Didact Gothic", sans-serif;
  font-weight: 600;
  border-bottom: 2px solid #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  
}

.container span{
  font-size: 21px;
}

.container i{
  cursor: pointer;
  transition: 200ms;
}

.container i:hover{
  transition: 200ms;
  transform:translateX(-4px);
}