body{
  overflow: hidden;
  background-color: rgb(0, 170, 255);
  font-family: "Didact Gothic", sans-serif;
}

.container{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.card{
  width: 360px;
  min-height: 250px;
  max-height: 590px;
  background-color: white;
  border-radius: 6px;
}